@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  --main: 0vw;

  --intro: calc(0vw - var(--main));
  --links: calc(0vw - var(--main));
  --works-h1: calc(0vw - var(--main));
  --works-h2: calc(0vw - var(--main));
  --works-a: calc(0vw - var(--main));
  --works-tags-a: calc(0vw - var(--main));
  --works-tags-span: calc(0.5vw - var(--main));
  --work-h3: calc(0vw - var(--main));
  --work-a: calc(0vw - var(--main));
  --work-simple-h2: calc(0vw - var(--main));
  --work-complex-h2: calc(0vw - var(--main));
  --work-testing-h2: calc(0vw - var(--main));
  --work-desc: calc(0vw - var(--main));
  --work-tech: calc(0vw - var(--main));
}

body {
  background-color: #000000;
  font-family: 'Raleway', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  margin: 3.333vw;
}

.introduction {
  margin-top: 10vh;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  /* font-size: 4.6vw; */
  font-size: calc(4.6vw - var(--intro));

  color: #ffffff;

  border: 0.133vw solid #000000;
  text-shadow: 0vw 0.533vw 0.533vw rgba(0, 0, 0, 0.25);
}

.introduction-sphere {
  color: #fc8071;
}

.links {
  margin-top: 12vh;
  color: white;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: calc(1.8vw - var(--links));

  text-decoration: none;
  display: flex;
  flex-direction: column;

  align-items: left;
}

.links a {
  text-decoration: none;
  color: white;
  margin-bottom: 2vw;
}

.links a:hover {
  color: #fc8071;
}

.social-media-icons {
  filter: invert(1);
}
.links-headhunter img {
  filter: invert(0);
}

.links img {
  position: relative;
  top: 0.8vw;
  margin-right: 3vw;
}

.works {
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.works h1 {
  margin: 0;
  margin-bottom: 10vh;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: calc(3.4vw - var(--works-h1));

  color: #ffffff;
}

.works h2 {
  margin: 0;
  color: #fff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: calc(3.4vw - var(--works-h2));
}
.works a {
  color: #fff;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: calc(1.2vw - var(--works-a));

  text-decoration-line: underline;
}

.works-tags {
  color: #fff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;

  display: flex;

  flex-direction: column;
}
.works-tags a {
  font-size: calc(3.5vw - var(--works-tags-a));
}
.works-tags span {
  margin-bottom: 5vh;
  margin-top: 5vh;
  font-style: italic;
  font-size: calc(2.6vw - var(--works-tags-span));
}

.work {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.work h3 {
  margin: 0;
  color: #fff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: calc(3.3vw - var(--work-h3));
}

.work a {
  color: #fff;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: calc(2.2vw - var(--work-a));

  text-decoration-line: underline;
}

#work-simple {
  margin-top: 26.667vw;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
}

#work-simple h2 {
  font-size: calc(3.8vw - var(--work-simple-h2));
  font-weight: 600;
  color: #fc8071;
}

#work-complex {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
}

#work-complex h2 {
  font-size: calc(3.8vw - var(--work-complex-h2));
  font-weight: 600;
  color: #fc8071;
}

#work-testing {
  margin-top: 26.667vw;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
}

#work-testing h2 {
  font-size: calc(3.8vw - var(--work-testing-h2));
  font-weight: 600;
  color: #fc8071;
}

.work-link {
  margin-top: 2vw;
}

.work-link img {
}

.work-desc {
  margin-top: 0;
  color: #fff;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: calc(2vw - var(--work-desc));

  width: 80vw;
}

.work-tech {
  color: #fff;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: calc(2vw - var(--work-tech));
}

.work-tech span {
  color: #fc8071;
}

#up-btn {
  position: fixed;
  right: 5vw;
  bottom: 5vw;
}

@media (max-width: 500px) {
  main {
    width: 360px;
    margin-left: 5vw;
  }

  .work-link img {
    width: 300px;
  }

  html {
    --main: 4vw;
  }
}
